:root {
    --bgColor: rgb(6, 44, 31);
    --accentColor: rgb(111, 195, 144);
    --textSecondary: rgb(123, 133, 113);
    --textPrimary: rgb(252, 251, 216);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
}

.game {
    filter: blur(3px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    text-align: center;
    line-height: 35px;
    height: 140px;
    overflow: hidden;
    color: var(--textSecondary);

    &:focus {
        outline: none;
        filter: blur(0px);
    }
}

.word { 
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;

    .correct {
        color: var(--textPrimary);
    }

    .incorrect {
        color: red;
        text-decoration: line-through;
    }
}



